
html
    head
        title= Login
        style.
            .login {
                margin: 0 auto;
                width: 300px;
                padding: 0 10px;
                display: flex;
                flex-direction: column;
            }

            .login button {
                margin-top: 10px;
            }
    body
        form.login
            h2 Войдите, чтобы открыть чат
            label(for="name") Логин
            input(type="text" name="login" id="name" value='')
            label(for="password") Пароль
            input(type="text" id="password" name="password" value='')
            button Открыть чат
            p.status
            a(href="/registration") Зарегистрироваться!
        script.
            const status = document.querySelector('.status');
            const form = document.querySelector('form');
            form.addEventListener('submit', (evt) => {
                evt.preventDefault();
                const data = {
                    login: document.querySelector('#name').value,
                    password: document.querySelector('#password').value
                };
                console.log(data);

                fetch('/login',  {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(data),
                })
                    .then((res)=> res.json())
            .then((res)=> {
                    console.log(res);
                if (res === 'ok') {
                    window.location.href = '/'
                } else {
                    status.textContent = res;
                }
            })
            .catch((err)=>{status.textContent = err;});
            });
